---
layout: page
title: 案例介绍
permalink: /blog/
---
<!-- Slider Start -->
<section id="global-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Get the latest on what we're doing</h1>
          <p>Catch up with us, anytime and anywhere</p>
        </div>
      </div>
    </div>
  </div>
</section>

<table border="1" width="100%">
<tr>
   <td width="30%" valign="top" align="center" >
       <p>&nbsp;</p>
       <p>&nbsp;</p>
       <!-- tags test
       {% for tag in site.tags %}
           {% if tag[0]=="a" %}
           <a href="/show_by_tag.html?tag={{ tag[0] }}"> {{ tag[0] }}</a>
	   {% endif %}
       {% endfor %}
       -->

       {% for category in site.categories %}
        <h2>{{ category | first }}</h2> </span>{{ category | size }}</span> 
        <ul class="arc-list">
       {% for post in category.last %}  
       <li><a href="{{ post.url }}">{{ post.title }}</a>-{{ post.date | date:"%Y/%m/%d"}}</li>
       {% endfor %}
       </ul> 
       {% endfor %}
   </td>
   <td>
       <p>&nbsp;</p>
   	   <p>{% for post in site.posts %} </p>
       <div class="post-area">
       <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
       <p class="post-date">{{ post.date | date_to_long_string }}</p>
       <p>
       {{ post.content | strip_html | truncatewords: 50 }}
       </p>
       </div>
      {% endfor %}
   </td>
</tr>
</table>


