<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="{{ site.baseurl }}/contact">联系我们</a></li>
            <li><a href="#">它是如何工作的</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">条款</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Shanghai Xiyue Information Technology Co.,Ltd. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
